body {
  font-family: "Gruppo", sans-serif;
  color: #edf2f4;
  background-color: #1d2e28;
}
h2 {
  font-size: 3rem;
  letter-spacing: 1.3rem;
  font-weight: 700;
  margin-bottom: 0;
  color: #fdd85d;
}
span {
  color: #fdd85d;
}
.navbar {
  position: absolute;
  top: 0;
  left: 80%;
  margin-top: 2rem;
}
.navbar button {
  width: 4rem;
}
.navbar button:hover {
  font-size: 1.4rem;
}

@keyframes borderAnimation {
  0% {
    border-width: 1px;
  }
  50% {
    border-width: 5px;
  }
  100% {
    border-width: 1px;
  }
}

.gradient-border {
  --border-width: 2px;

  position: relative;
  font-size: 2.5rem;
  color: #fdd85d;
  background: #1d2e28;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(53, 99%, 49%),
      hsl(50, 94%, 44%),
      hsl(0, 20%, 98%),
      hsl(0, 33%, 99%),
      hsl(44, 85%, 66%),
      hsl(20, 33%, 98%),
      hsl(39, 80%, 49%),
      hsl(60, 33%, 99%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
.calculated-sum {
  color: #ffff;
  /* margin-right: 1%; */
  letter-spacing: 0.2rem;
  margin-bottom: 2.5rem;
}
.sum {
  padding: 6px 10px;
  letter-spacing: 0.5rem;
}

.header-text {
  margin-bottom: 3rem;
  text-align: center;
  margin-right: 2rem;
}
.arrow {
  position: absolute;
  left: 40%;
}
.arrow1 {
  top: 20%;
}
.arrow2 {
  top: 33%;
  visibility: hidden;
}
.arrow3 {
  top: 60%;
  visibility: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input {
  caret-color: transparent;
  border: none;
  padding: 0;
  width: 14.7%;
  background: repeating-linear-gradient(
      80deg,
      #fdd85d9b 0,
      #fdd85daa 0,
      1ch,
      transparent 0,
      transparent 0ch
    )
    0 100% / calc(8ch) 1.5px no-repeat;
  border-top: 1.5px solid transparent;
  transition: border-top 0.3s ease;
  font-family: "Gruppo", sans-serif;
  color: #ffffff;
  font-size: 6ch;
  letter-spacing: 1.3rem;
  opacity: 0.7;
}
input:focus {
  outline: none;
  color: #ffffff;
  background: repeating-linear-gradient(
      90deg,
      #fdd85d 0,
      #fdd85d 1ch,
      transparent 0,
      transparent 0ch
    )
    0 100% / calc(8ch) 1.5px no-repeat;

  opacity: 1;
}
input:disabled {
  filter: blur(0.4px);
  /* opacity: 0.2; */
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:not(:last-of-type) {
  margin-bottom: 2rem;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2.5rem;
  position: relative;
  background: #fff;
  box-shadow: -24px 0 #fff, 24px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow: -24px 0 #ebb80f, 24px 0 #fff;
  }
  66% {
    background: #ebb80f;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 #ebb80f;
  }
}
button {
  width: 100px;
  height: 40px;
  border: 3px solid #ebb80f;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: transparent;
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
  font-family: "Gruppo", sans-serif;
}
button:hover {
  background: #ebb80f;
  color: white;
  font-size: 1.5em;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 73%;
  background-color: transparent;
  border: 1px solid #ebb80f;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal h1 {
  color: #ebb80f;
  text-align: center;
  margin-bottom: 1.5rem;
}
.list {
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

.list li {
  text-align: left;
  padding: 4px 4px;
  font-size: 1.3rem;
  margin-right: 1rem;
}
.list li:not(:last-of-type) {
  margin-bottom: 1rem;
}
@media (max-width: 480px) {
  .modal {
    width: 50vh;

    overflow: auto;
  }
  .modal h1 {
    font-size: 1rem;
    margin-bottom: 0.7rem;
  }
  .modal li {
    font-size: 1rem;
  }
  .arrow {
    opacity: 0;
  }

  .modal li:not(:last-of-type) {
    margin-bottom: 1.8rem;
  }
  .header-text {
    font-size: 1.2rem;
    margin-top: 0.2rem;
  }

  .container input {
    font-size: 2rem;
    width: 50%;
    letter-spacing: 0.9rem;
    margin-top: 0.1rem;
    margin-left: 4rem;
  }

  .calculated-sum,
  .sum {
    font-size: 1.2rem;
    margin-left: 5rem;
  }
  .sum {
    margin-left: 7rem;
  }
  .arrow {
    display: hidden;
  }

  .reset-btn {
    margin-top: 1rem;
    margin-bottom: -3rem;
  }
  .navbar {
    top: 2%;
    left: 40%;
  }
  .navbar button {
    font-size: 1rem;
    padding: 0.4rem;
    width: 4rem;
    height: 2.2rem;
  }
}

/* Media query for screens with a minimum width of 1024px */
